body{
  background-color: rgb(3, 3, 3);
  font-size: medium;
  margin: 0;
}
#Alex{
  position: relative;
  left: 100px;
  font-size: 50px;
  color: white;
}
li{
  position: relative;
  list-style-type: none;
  float: left;
  padding: 20px;
  left: 300px;
  top: -110px;
  color: white;
  font-size: 20px;
}
#Connect{
  position: relative;
background-image: linear-gradient(to right, purple, orange);
color: white;
left: 400px;
top: -100px;
border: none;
height: 50px;
width: 130px;
border-radius: 40px;
}
#div1{
  right: 90px;
  top: -80px;
  position: relative;
  border-radius: 100px;
  margin-bottom: 30px;
}
#div1 img{
  width: 150px;
  height: 150px;
  border-radius: 70%;
  margin-bottom: 20px;
}
#div2{
   color: white;
  font-size: 30px;
  position: relative;
  right: -550px;
}
#div3{
  color: white;
  font-size: 20px;
  position: relative;
  right: -550px;
  top: -20px;
}
#div4{
  color: white;
  font-size: 20px;
  position:relative;
  right: -400px;
}
 #div5{
  color: white;
  font-size: 20px;
  position: relative;
  right: -500px;
  top: -20px;
 }
#my{
  background-color: black;
  color: white;
  position: relative;
  left: 500px;
top: -100px;
border: none;
height: 50px;
width: 130px;
border-radius: 40px;
}
#he{
  position: relative;
  color: white;
  font-size:xx-large;
  right: -550px;
bottom: 40px;
padding:0;
}
#div6{
position: relative;
right: -15px;
}
#div6 img{
 
}
#div7{
  position: relative;
  color: white;
  font-size: medium;
  right:-500px;
  top: -500px;
}
#div8{
  position: relative;
  color: white;

}
#p1{
  position: relative;
  color: white;
  font-size: large;
  right: -500px;
  top:-400px;
}
#p2{
  position: relative;
  background-image: linear-gradient(to right,purple,orange);
  height: 10px;
  border-radius: 50px;
  border: none;
  top:-500px;
  left: 600px;
  padding-bottom: 10px;
}
#p3{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
  position: relative;
  list-style-type: none;
  float: left;
  padding: 50px;
  left: 200px;
  top: -350px;
  font-size: 20px;
}
#a0{
  position: relative;
  color: white;
  background-color: #030000;
display: flex;
  flex-direction: row;
  justify-content: space-evenly;
padding-left: 10px;
  flex-wrap: wrap;
}
#a1{
  color: white;
  position: relative;
  font-size:xx-large;
  left: -310px; ;
top: -180px;
}
#e1{
  position: relative;
  color: white;
  right: 1000px;
  top:-90px;
  border-style: solid;
  background-color: #080000;
    border: 1px solid #444;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    padding-left: 40px;
    padding-top: -5px;
    
}
#e2{
  position: relative;
  color: white;
  left: -500px;
  top: -300px;
  border-style: solid;
  background-color: #080000;
    border: 1px solid #444;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    padding-left: 40px;
    padding-top: -5px;

}
#e3{
  position: relative;
  color: white;
  right: -400px;
  top: -180px;
  border-style: solid;
  background-color: #080000;
    border: 1px solid #444;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    padding-left: 40px;
    padding-top: -5px;

}
#e4{
  position: relative;
  color: white;
  right: 450px;
  top:-150px;
  border-style: solid;
  background-color: #080000;
    border: 1px solid #444;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    padding-left: 40px;
    padding-top: -5px;
    
}
#e5{
  position: relative;
  color: white;
  right: 25px;
  top: -350px;
  border-style: solid;
  background-color: #080000;
    border: 1px solid #444;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    padding-left: 40px;
    padding-top: -5px;
}
#e6{
  position: relative;
  color: white;
  right: -400px;
  top: -550px;
  border-style: solid;
  background-color: #080000;
    border: 1px solid #444;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    padding-left: 40px;
    padding-top: -5px;
}
#a3{
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
#a4{
  font-size: 20px;
    margin-bottom: 10px;
    background: linear-gradient(to right, orange, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#a5{
  color: #888;
  margin-bottom: 20px;
}
#a6{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#b0{
  position: relative;
  color: white;
  right: -500px;
  font-size: xx-large;
}
#b1{
  position: relative;
  padding: 35px;
}
#b2{
  position: relative;
  background-color: black;
  color: white;
  left: 500px;
  bottom: -10px;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 40px;
}
#c0{
  color: white;
  flex-direction: column;
}
#c1{
  position: relative;
  font-size: xx-large;
  left: 500px;
}
#c2{
  position: relative;
  font-size: x-large;
  color: rgb(rgb(255, 0, 157), rgb(128, 87, 0), rgb(255, 123, 0));
left: 100px;
}
#c3{
  font-size: larger;
  position: relative;
  left: 100px;
  margin-bottom: 30px;
  margin: 10px 0;
  font-size: 1.2em;
  gap: 20x;

}

#d1{
  margin-bottom: 30px; 
}
#fu{
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: black;
  color:white;
}

#f1{
  margin: 5px 0;
}
#f2{
  display: flex;
    justify-content: space-around;
    font-size: 0.9em;
    color: #c0c0c0; 
}
#f3{
  position: relative;
  left: -450px;
  top: -10px;

}
#subscribe{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  left: 500px;
  border-radius: 900px;
  top:-90px ;
}
#fu input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  position: relative;
}

#fu button {
  position: relative;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 500px;
  background: linear-gradient(90deg, #ff8c00, #ff0080);
  color: white;
  cursor: pointer;
}
#right{
  position: relative;
  left: 800px;
  top: -300px;
}
#right label{
  font-size: 20px;
}
#right input{
  width: 400px;
  font-size: 20px;
  background-color: rgb(0, 0, 15)
}
#right textarea{
  width: 400px;
  font-size: 20px;
  height: 200px;
  background-color: rgb(0, 0, 15)
}

form {
  display: flex;
  flex-direction: column;
  left: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: black;
}
#myform{
  left: 700px;
}



button {
  position: relative;
  background-image: linear-gradient(to right, purple, orange);
  color: white;
  left: 00px;
  buttom:100px;
  border: none;
  height: 50px;
  width: 130px;
  border-radius: 40px;
}